<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="/scripts/detail.js"></script>
    <script src="/scripts/form-submit.js"></script>
    <script src="/scripts/identification.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
</head>
<body onload="init()">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/">
            <img src="/images/logo.svg" width="50" height="50" style="margin-bottom: 10px;" alt="">
          BirdWatch
          </a>
    </nav>
        
    <div id="popup" class="popup">
        <div class="popup-content">
            <h2>Edit Identification</h2>
            <form id="id-form" action="/sightings/<%=sighting.id%>/identification" method="POST">
                <div class="row">
                    <div>
                        <label for="id-name-search"><br>Identification Search</label>
                        <input type="text" id="id-name-search" name="id-name-search"/>
                        <button id="id-search-submit" type="submit" value="Search">Search Identification</button>
                        <br><br>
                    </div>

                    <!--          ID table to be updated upon ID search-->
                    <table class="table table-bordered" id="id-table" style="height:200px; overflow: auto;">
                        <thead>
                        <tr>
                            <th>Common Name</th>
                            <th>Scientific Name</th>
                            <th>English Description</th>
                            <th>Link</th>
                        </tr>
                        </thead>
                        <tbody id="id-table-body" style="overflow:auto;">
                        </tbody>
                    </table>

                    <!--          Display selected identification's information-->
                    <div class="row" id="identification-info" style="display:none;">
                        <label for="idCommonName"><br>Common name:</label>
                        <input type="text" id="idCommonName" value="unknown" name="idCommonName" readonly/>
                        <br><br>
                        <label for="idScientificName"><br>Scientific name:</label>
                        <input type="text" id="idScientificName" value="unknown" name="idScientificName" readonly/>
                        <br><br>
                        <label for="idDescription"><br>Description:</label>
                        <input type="text" id="idDescription" value="unknown" name="idDescription" readonly/>
                        <br><br>
                        <label for="idLink"><br>Link:</label>
                        <input type="text" id="idLink" name="idLink" value="unknown" readonly/>
                        <br><br>
                        <label for="idStatus"><br>Status:</label>
                        <input type="text" id="idStatus" name="idStatus" value="unknown" readonly/>
                        <br><br>
                    </div>
                    <button onclick="return closePopup()">Close</button>
                    <button id="id-form-submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="container mh-100">
        <h1 style="color:#0c4128;">Sighting Details</h1>
        <div class="row">
            <div id="offline-warning"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col"></div>
          <div class="col">        
            <button onclick="return editId('<%=sighting.userNickname%>')" style="float: right;" class="btn btn-outline-danger">Edit Identification</button>
          </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="row">
                    <label for="name">Sighting: </label>
                    <u id="name"><%= sighting.identification.status %></u>
                </div>
                <br>
                <div class="row" id="image-show">
                    <div class="card" style="width: 250px; height: 250px">
                        <img class="card-img-top" id="card-image-show" src="<%=sighting.identification.photoUrl%>">
                      </div>
                </div>
                <br>
                <div class="row">
                    <label for="user">Found by:</label>
                    <br>
                    <u id="user"><%= sighting.userNickname %></u>
                    <br>
                    <label for="description">User Description:</label>
                    <br>
                    <u id="description"><%= sighting.description %></u>
                </div>
            </div>
            <div class="col-sm" style="margin: 10px">
                <label for="date">Date/Time: </label>
                <br>
                <u id="date"><%= sighting.date%></u>
                <br><br>
                <label for="location">Location: </label>
                <div class="row">
                    <div id="map"></div>
                    <div class="col-sm">
                        <text id="latitude">Latitude: <%= sighting.location.coordinates[0]%></text>
                    </div>
                    <div class="col-sm">
                        <text id="longitude">Longitude: <%= sighting.location.coordinates[1]%></text>
                    </div>
                </div>
            </div>
            <div class="col-sm">
                <label for="chat">Chat</label>
                <div>
                    <text id="chat"></text>
                    <ul class="list-group list-group-flush" id="chatHistory" style="height: 300px; overflow: auto;">
                        <% for (var k = 0; k < sighting.comments.length; ++k) {
                            var data = sighting.comments[k]; %>
                            <li class="list-group-item">
                                <%= data.createdAt.toLocaleString() %>
                                <br>
                                <b><%= data.userNickname %></b> : <%= data.text %>
                            </li>
                        <% } %>
                    </ul>
                </div>
                <br>
                <form id="chatform" style="width: 100%" action="/sightings/<%=sighting.id%>/comments" method="POST">
                    <p>
                        <label for="userNickname"> Username: </label>
                        <input type="text" id="userNickname" name="userNickname" style="width:70%; float:right" required>
                        <br><br>
                        <label for="text"> Comment: </label>
                        <input type="text" id="text" name="text" style="width:70%; float:right" required>
                        <br><br>
                        <input type="submit" value="Send">
                    </p>
                </form>
            </div>
        </div>
        <div class="row">
            <label>Identification: </label>
            <p id="id_description">
                <text>Identification Status: <%= sighting.identification.status %></text><br><br>
                <text>Common Name: <%= sighting.identification.commonName %></text><br><br>
                <text>Scientific Name: <%= sighting.identification.scientificName %></text><br><br>
                <text>English Description: <%= sighting.identification.englishDescription %></text><br><br>
                <a href="<%= sighting.identification.uri %>" target='_blank'>URI: <%= sighting.identification.uri %></a><br><br>
            </p>
        </div>
    </div>
</body>
<script type="text/javascript">
    let longitude = '<%= sighting.location.coordinates[0] %>';
    let latitude = '<%= sighting.location.coordinates[1] %>';
    displayLocationOnMap(latitude, longitude);
</script>
</html>